@import url('https://fonts.googleapis.com/css2?family=Inika&family=Roboto:wght@100&display=swap');
*{
    font-family: 'Inika', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body{
    background:#0c1022;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 35rem;  
    position: relative;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background:#0c1022;
}
html::-webkit-scrollbar-thumb{
    background-color: #3cf;
    border-radius: 2rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:#0c1022;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid  rgb(222, 10, 194);
}
header .user .name {
    font-size: 3.5rem;
    background-image: linear-gradient(45deg, #f06, #3cf, #f06);
    -webkit-background-clip: text;
    -webkit-text-stroke: .7px #3cf;
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
}
@keyframes higuys{
    0%,10%,100%{
        background-position: -33rem 0;
    }
    65%,10%{
        background-position: 0 0;
    }
}
header .user .post{
    font-size: 2rem;
    color: orange;
    filter: brightness(1.5);
}
header .navbar{
    width: 100%;
}
header .navbar ul{
    list-style: none;
    padding: 1rem 3rem ;
}
header .navbar ul li a{
    position: relative;
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    width: 29rem;   
    height: 5rem;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}
header .navbar ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    filter: blur(5px);
}
header .navbar ul li a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    background-position: 0 0;
    transition: .5s ease;
}
header .navbar ul li a:hover::after{
    background-position: 100% 0;
}
#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(1.5);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display:none;
}
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding:1rem 4rem;
    }
    .home .pics img{
        padding:1rem 4rem;
    }
}
@media (max-width:991px){
    header{
        left:-120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding:0;
    }
}
@media (max-width:768px){
    html{
        font-size:50%;
    }
}
@media (max-width:400px){
    header{
        width:100vm;
    }
}
.home h3 {
    background: linear-gradient(45deg, #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: brightness(1.5);
    font-size: 4.4rem;
    display: flex;
    align-items: center;
    flex-flow: column;  
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
}
.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    position: relative;
    color: #fff;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

.heading::after {
    content: "";
    position: absolute;
    bottom: -0.5rem; 
    left: 50%;
    width: 100%; 
    height: 1px; 
    background: url('../image/p.gif') repeat-x; 
    background-size: cover;
    transform: translateX(-50%);
    z-index: -1; 
}


.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}
.about .row .info h3{
    font-size: 2rem;
    color: orange;
    padding:1rem 0;
    font-weight: normal;
}
.about .row .info h3 span{
    background: url('../image/p.gif') repeat-x; 
    -webkit-background-clip: text;
    -webkit-text-stroke: .1px #3cf;
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
}
.about span{
    color: orange;
}
.about .row .counter{
    padding:2rem 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about .row .counter .box {
    width: 20rem;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    background: transparent;
    border-top: 0.1rem solid;
    border-left: 0.1rem solid;
    border-right: 0.1rem solid;
    border-bottom: 0.1rem solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #f06, #3cf);
}
.about .row .counter .box span{
    font-size: 4rem;
    background: url('../image/p.gif') repeat-x;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: .1px #3cf;
    filter: brightness(1.5);
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
    text-decoration-line: none;
}
.about .row .counter .box h3{
    font-size: 2rem;
    color: orange;
}
.about h1{
    color: orange;
}
.counter a {
    text-decoration: none;
}

.heading span{
    background: url('../image/p.gif') repeat-x;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: .1px #3cf;
    filter: brightness(1.5);
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
}
.box a {
    text-decoration: none;
}
.education .box-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3rem;
}
.education .box-container .box{
    width: 27rem;
    margin: 0 1rem;
    padding-left: 4rem;
    position: relative;
}
.education .box-container .box span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    background: url('../image/p.gif') repeat-x; 
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
}
.education .box-container .box span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(0.88);
    z-index: -1;
    transition: .5s ease;
}
.education .box-container .box span:hover::after{
    transform: scale(0);
}
.education .box-container .box h3{
    font-size: 2rem;
    background: url('../image/p.gif') repeat-x; 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: .1px #3cf;
    filter: brightness(1.5);
    padding-top: 1.5rem;
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
}
.education .box-container .box p{
    font-size: 1.2rem;
    color: orange;
    padding: 1rem 0;
    margin-bottom: .5rem;
}
.education h1{
    color: orange;
}
/* Flip Box Container My Portfolio */
.flip-box {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px; 
    margin: 20px;
    display: inline-block;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
}


.flip-box-front {
    display: flex;
    justify-content: center;
    align-items: center;
}


.flip-box-back {
    color: orange;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    text-align: center;
    border: 2px solid; 
    border-image: linear-gradient(45deg, #f06, #3cf) 1;
}

.flip-box-back h1 {
    background: url('../image/p.gif') repeat-x; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex:1 1 30rem;
}
.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 0;
}
.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
    border-radius: 2rem;
    border-top: 0.1rem solid #f06;
    border-left: 0.1rem solid #3cf;
    border-right: 0.1rem solid #f06;
    border-bottom: 0.1rem solid #3cf;
    color: orange;
    background: transparent;
}
.contact .btn{
    border-radius: 2rem;
    border-top: 0.1rem solid #f06;
    border-left: 0.1rem solid #3cf;
    border-right: 0.1rem solid #f06;
    border-bottom: 0.1rem solid #3cf;
    background: transparent;
    color: #fff;
    border-radius: 1rem;
    font-size: medium;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;
}
.contact .row form .message{
    height: 15rem;
    resize: none;
}
.contact .row .content .title{
    text-transform: uppercase;
    background: url('../image/p.gif') repeat-x; 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: .1px #3cf;
    filter: brightness(1.5);
    font-size: 3rem;
    padding-bottom: 2rem;
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: orange;
    padding: 1rem 0;
    font-weight: normal;
}
.contact .row .content .info h3 i{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    background: url('../image/p.gif') repeat-x; 
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    z-index: 1;
}
.contact .row .content .info h3 i::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(0.88);
    z-index: -1;
    transition: .5s ease;
}
.contact .row .content .info h3 i:hover::after{
    transform: scale(0);
}
.heading{
    color: orange;
}   
.top{
    position: fixed;
    bottom: 3.5rem;
    right: 4rem;
    z-index: 100;
    display: none;
}
.info a {
    text-decoration: none;
    color: inherit;
}
.notification {
    display: none; 
    position: fixed;
    top: 20px;
    left: 50%; 
    transform: translateX(-50%) translateY(-30px); 
    font-size: 18px;  
    color: orange; 
    border-radius: 30px;  
    z-index: 9999;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    transition: opacity 0.5s ease, transform 0.5s ease; 
    text-align: center;  
    display: inline-block;  
    padding: 5px 10px;  
    opacity: 0;  
}

/* Notification success style */
.notification.success {
    border-radius: 2rem;
    border-top: 0.2rem solid #f06;
    border-left: 0.2rem solid #3cf;
    border-right: 0.2rem solid #f06;
    border-bottom: 0.2rem solid #3cf;
    background: transparent;
    padding: 5px 10px;
}


/* Animation to make it pop up */
@keyframes slideIn {
    from {
        opacity: 0;  
        transform: translateX(-50%) translateY(-30px);  
    }
    to {
        opacity: 1;  
        transform: translateX(-50%) translateY(0); 
    }
}

.show {
    display: inline-block; 
    animation: slideIn 0.5s forwards;  
}

.hidden {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

/* Add fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
