@import url('https://fonts.googleapis.com/css2?family=Inika&family=Roboto:wght@100&display=swap');
*{
    font-family: 'Inika', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    background: #0c1022;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;
}
html::-webkit-scrollbar-track{
    background:#0c1022;
}
html::-webkit-scrollbar-thumb{
    background-color: #3cf;
    border-radius: 2rem;
}
.certificate-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 2rem;
    text-align: center;
}

.certificate-section h1 {
    font-size: 3.5rem;
    background-image: linear-gradient(45deg, #f06, #3cf, #f06);
    -webkit-background-clip: text;
    -webkit-text-stroke: .7px #3cf;
    color: transparent; 
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: higuys 6s linear infinite;  
    animation-delay: 2s;
}
@keyframes higuys{
    0%,10%,100%{
        background-position: -45rem 0;
    }
    65%,10%{
        background-position: 0 0;
    }
}
.certificate-section h1:after {
    content: '';
    width: 800px;
    height: 2px;
    background: linear-gradient(45deg, #f06, #3cf);
    display: flex;
    margin: 0.5rem auto;
    border-radius: 2px;
}

.certificate-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: orange;
}

.certificate-section img {
    max-width: 55%;
    height: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.certificate-section img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .certificate-section h1 {
        font-size: 2.5rem;
    }

    .certificate-section p {
        font-size: 1rem;
    }

    .certificate-section img {
        max-width: 100%;
    }
}

.back-button {
    position: fixed;
    top: 5%;
    left: 95%;
    transform: translateY(-50%);
    z-index: 1000;
}

.back-button img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

.back-button img:hover {
    transform: scale(1.1);
}
